In [114]:
import pandas as pd
import folium

In [115]:
line = pd.read_csv('./subway_line_long_lat.csv', encoding= 'cp949')
passenger = pd.read_csv('./subway_passenger_2022.csv',encoding = 'cp949')
passenger = passenger.drop(columns='등록일자')
passenger_time = pd.read_csv('./subway_time_data.csv', encoding='cp949')

In [116]:
line.info()
passenger.info()
passenger_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연번       276 non-null    int64
 1   호선       276 non-null    int64
 2   역번호      276 non-null    object
 3   역명       276 non-null    object
 4   경도       276 non-null    float64
 5   위도       276 non-null    float64
 6   데이터기준일자  276 non-null    object
dtypes: float64(2), int64(2), object(3)
memory usage: 15.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219745 entries, 0 to 219744
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   사용일자    219745 non-null  int64
 1   노선명     219745 non-null  object
 2   역명      219745 non-null  object
 3   승차총승객수  219745 non-null  int64
 4   하차총승객수  219745 non-null  int64
dtypes: int64(3), object(2)
memory usage: 8.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56339 entries, 0 to 56338
Data columns (total 52 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   사용월           56339 non-null  int64
 1   호선명           56339 non-null  object
 2   지하철역          56339 non-null  object
 3   04시-05시 승차인원  56339 non-null  int64
 4   04시-05시 하차인원  56339 non-null  int64
 5   05시-06시 승차인원  56339 non-null  int64
 6   05시-06시 하차인원  56339 non-null  int64
 7   06시-07시 승차인원  56339 non-null  int64
 8   06시-07시 하차인원  56339 non-null  int64
 9   07시-08시 승차인원  56339 non-null  int64
 10  07시-08시 하차인원  56339 non-null  int64
 11  08시-09시 승차인원  56339 non-null  int64
 12  08시-09시 하차인원  56339 non-null  int64
 13  09시-10시 승차인원  56339 non-null  int64
 14  09시-10시 하차인원  56339 non-null  int64
 15  10시-11시 승차인원  56339 non-null  int64
 16  10시-11시 하차인원  56339 non-null  int64
 17  11시-12시 승차인원  56339 non-null  int64
 18  11시-12시 하차인원  56339 non-null  int64
 19  12시-13시 승차인원  56339 non-null  int64
 20  12시-13시 하차인원  56339 non-null  int64
 21  13시-14시 승차인원  56339 non-null  int64
 22  13시-14시 하차인원  56339 non-null  int64
 23  14시-15시 승차인원  56339 non-null  int64
 24  14시-15시 하차인원  56339 non-null  int64
 25  15시-16시 승차인원  56339 non-null  int64
 26  15시-16시 하차인원  56339 non-null  int64
 27  16시-17시 승차인원  56339 non-null  int64
 28  16시-17시 하차인원  56339 non-null  int64
 29  17시-18시 승차인원  56339 non-null  int64
 30  17시-18시 하차인원  56339 non-null  int64
 31  18시-19시 승차인원  56339 non-null  int64
 32  18시-19시 하차인원  56339 non-null  int64
 33  19시-20시 승차인원  56339 non-null  int64
 34  19시-20시 하차인원  56339 non-null  int64
 35  20시-21시 승차인원  56339 non-null  int64
 36  20시-21시 하차인원  56339 non-null  int64
 37  21시-22시 승차인원  56339 non-null  int64
 38  21시-22시 하차인원  56339 non-null  int64
 39  22시-23시 승차인원  56339 non-null  int64
 40  22시-23시 하차인원  56339 non-null  int64
 41  23시-24시 승차인원  56339 non-null  int64
 42  23시-24시 하차인원  56339 non-null  int64
 43  00시-01시 승차인원  56339 non-null  int64
 44  00시-01시 하차인원  56339 non-null  int64
 45  01시-02시 승차인원  56339 non-null  int64
 46  01시-02시 하차인원  56339 non-null  int64
 47  02시-03시 승차인원  56339 non-null  int64
 48  02시-03시 하차인원  56339 non-null  int64
 49  03시-04시 승차인원  56339 non-null  int64
 50  03시-04시 하차인원  56339 non-null  int64
 51  작업일자          56339 non-null  int64
dtypes: int64(50), object(2)
memory usage: 22.4+ MB

In [117]:
passenger.describe()

               사용일자         승차총승객수         하차총승객수
count  2.197450e+05  219745.000000  219745.000000
mean   2.022067e+07   10197.962802   10161.690696
std    3.448377e+02   10221.848266   10376.297181
min    2.022010e+07       1.000000       0.000000
25%    2.022040e+07    3472.000000    3341.000000
50%    2.022070e+07    7268.000000    7089.000000
75%    2.022100e+07   13467.000000   13308.000000
max    2.022123e+07  122543.000000  118237.000000

In [118]:
# 호선별 역사 위도, 경도 데이터 딕셔너리로 변환
line_data = line[['호선', '역명', '경도', '위도']]


for i in range(9) :
    globals()['line_{}'.format(i+1)] = line_data.query('호선 == {}'.format(i+1)).reset_index()


lat_dic = {}
long_dic = {}

#target_line 은 line_# 형식임
def transfer_line_select(target_line):
    range_num = len(target_line.index)
    for i in range(range_num):
        a = {target_line['역명'].iloc[i] : target_line['위도'][i]}
        lat_dic.update(a)
        b = {target_line['역명'].iloc[i] : target_line['경도'][i]}
        long_dic.update(b)

def transfer_line_all():
    for i in range(len(line_data.index)):
        a = {line_data['역명'].iloc[i] : line_data['위도'][i]}
        lat_dic.update(a)
        b = {line_data['역명'].iloc[i] : line_data['경도'][i]}
        long_dic.update(b)
transfer_line_all()

In [119]:
# 데이터 전처리 : passenger 데이터에 역별 위치 데이터 전처리

passenger['사용일자']= pd.to_datetime(passenger['사용일자'], format = '%Y%m%d')
passenger['요일'] = passenger['사용일자'].dt.day_name()
# 데이터 오류 관측
rdpg_day_sort = passenger.groupby(['요일','역명']).agg(n =('승차총승객수', 'mean')).sort_values(by = 'n')
error_data_detect = rdpg_day_sort.query('n == 1').reset_index().groupby(['요일', '역명']).mean()
error_station_list = list(set(error_data_detect.reset_index()['역명']))
print("결측데이터 :",error_station_list) 
#하차총승객수에는 에러데이터가 보이지 않음. 데이터 출처인 서울열린데이터광장에 따르면 수동 단말기로 취합하기 때문에 데이터오류가 있을 수 있다고 함.
#아래 데이터는 다른 출처의 데이터로 갈음함.

결측데이터 : ['신중동', '부천종합운동장', '부천시청', '부평구청', '상동', '까치울', '삼산체육관', '굴포천', '춘의']

In [120]:
#타 출처 데이터 전처리: 승객 시간별 승하차 데이터(2022)
passenger_time.head(10)
passenger_time['사용월'] = pd.to_datetime(passenger_time['사용월'], format = '%Y%m').dt.year
passenger_time =passenger_time.drop(columns=['작업일자','호선명'])

In [121]:
passenger_time.query('지하철역 == "삼산체육관" and 사용월 == 2021')

,사용월,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,07시-08시 하차인원,...,23시-24시 승차인원,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원
7594,2021,삼산체육관,7,0,3408,452,10814,1847,25715,2855,...,553,4292,20,923,0,0,0,0,0,0
8203,2021,삼산체육관,14,0,3655,479,10985,1829,26594,2962,...,655,5493,20,1292,0,0,0,0,0,0
8812,2021,삼산체육관,18,0,3467,471,9774,1850,22973,3183,...,648,5082,15,746,0,0,0,0,0,0
9421,2021,삼산체육관,23,2,3151,425,9280,1607,21333,3186,...,571,4004,15,422,0,0,0,0,0,0
10028,2021,삼산체육관,19,0,3412,441,9463,1684,21723,2792,...,471,3611,19,381,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11850,2021,삼산체육관,3,0,3181,405,9576,1760,22266,3044,...,695,5168,12,708,0,0,0,0,0,0
12458,2021,삼산체육관,2,0,3109,381,10451,1753,25050,3333,...,675,4682,10,676,0,0,0,0,0,0
13066,2021,삼산체육관,7,0,3061,258,10301,1566,25225,2997,...,667,4648,6,616,0,0,0,0,0,0
13669,2021,삼산체육관,9,0,2267,192,7653,1266,18502,1505,...,412,2933,4,367,0,0,0,0,0,0
14274,2021,삼산체육관,16,0,2412,215,8239,1242,20026,1739,...,270,2166,4,299,0,0,0,0,0,0

In [122]:
#좌표 찾기
import json
import requests

with open("./api.txt") as api:
    lines = api.readlines()
    api_key = lines[0].strip()
    
addr = '서울시 송파구 가락동 140' ##<- 주소를 입력
class catch_address():
    
    def addr_to_lat_long(addr):
        url = 'https://dapi.kakao.com/v2/local/search/address.json?query={address}'.format(address=addr)
        headers = {"Authorization": "KakaoAK " + api_key}
        result = json.loads(str(requests.get(url, headers=headers).text))
        match_first = result['documents'][0]['address']
        return float(match_first['x']), float(match_first['y'])
    
    def addr_lat(addr):
        a3 = catch_address.addr_to_lat_long(addr)
        a3_list = list(a3)
        return a3_list[0]
    
    def addr_long(addr):
        a3 = catch_address.addr_to_lat_long(addr)
        a3_list = list(a3)
        return a3_list[1]
    
    def search_lat_long(addr):
        return print(addr,'의 위도, 경도는 :', catch_address.addr_lat(addr), catch_address.addr_long(addr))
        
catch_address.search_lat_long(addr)

서울시 송파구 가락동 140 의 위도, 경도는 : 127.128117809357 37.4955429569204

In [123]:
map = folium.Map(location= [127.128117809357, 37.4955429569204], zoom_start=13, width = 750, height=500)

class data_mapping():
    
    def marker(lat, long, name, pop):
        return folium.Marker(location = [lat, long], popup= pop, tooltip = name )
    
    def circle_marker(lat, long, name, pop):
        radius_size = pop/2000 # 승하차 인원 비례
        return folium.CircleMarker(location=[lat, long], color = 'red', radius = radius_size)
    
    #def mapping_exe(): # 실행파일 작성

In [124]:
locate = []
for i in locate :
    lat = 1
    long = 2
    pop = 333333
    name = 45
    data_mapping.marker(lat, long, name, pop)

In [125]:
passenger['위도'] = passenger['역명']
passenger['경도'] = passenger['역명']

In [126]:
passenger['위도'] = passenger['위도'].replace(lat_dic)
passenger['경도'] = passenger['경도'].replace(long_dic)

In [137]:
passenger.shape

(219745, 8)

In [128]:
passenger.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219745 entries, 0 to 219744
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   사용일자    219745 non-null  datetime64[ns]
 1   노선명     219745 non-null  object
 2   역명      219745 non-null  object
 3   승차총승객수  219745 non-null  int64
 4   하차총승객수  219745 non-null  int64
 5   요일      219745 non-null  object
 6   위도      219745 non-null  object
 7   경도      219745 non-null  object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 13.4+ MB

In [129]:
passenger_sort = passenger.query('사용일자 == "2022-06-20"').reset_index()

In [130]:
passenger_sort['특정'] = passenger_sort['위도'].str.isdigit()

In [134]:
passenger_sort = passenger_sort.drop(columns='index')

In [152]:
check_line_list = ['1호선', '2호선','3호선','4호선','5호선','6호선','7호선','8호선']
for i in check_line_list:
    
    print(passenger_sort.query('특정 == False and 노선명 == "{}"'.format(i)))
    
##분석 결과 괄호()와 '역'이라는 단어 때문에 변경되지 않은 데이터들이 있다. 자동화로 해당 데이터 전처리를 해보자.

          사용일자  노선명            역명  승차총승객수  하차총승객수      요일            위도  \
443 2022-06-20  1호선  청량리(서울시립대입구)   20874   21023  Monday  청량리(서울시립대입구)
595 2022-06-20  1호선           서울역   49576   48118  Monday           서울역

               경도     특정
443  청량리(서울시립대입구)  False
595           서울역  False
          사용일자  노선명              역명  승차총승객수  하차총승객수      요일              위도  \
410 2022-06-20  2호선        낙성대(강감찬)   28488   27864  Monday        낙성대(강감찬)
411 2022-06-20  2호선     서울대입구(관악구청)   47723   47442  Monday     서울대입구(관악구청)
418 2022-06-20  2호선        대림(구로구청)   25663   26111  Monday        대림(구로구청)
446 2022-06-20  2호선      충정로(경기대입구)   10590   11165  Monday      충정로(경기대입구)
453 2022-06-20  2호선        잠실(송파구청)   69846   70426  Monday        잠실(송파구청)
465 2022-06-20  2호선       용두(동대문구청)    2500    2565  Monday       용두(동대문구청)
576 2022-06-20  2호선  동대문역사문화공원(DDP)   13000   14654  Monday  동대문역사문화공원(DDP)
581 2022-06-20  2호선      교대(법원.검찰청)   36709   41644  Monday      교대(법원.검찰청)
582 2022-06-20  2호선        삼성(무역센터)   52378   53802  Monday        삼성(무역센터)
587 2022-06-20  2호선       왕십리(성동구청)   17265   13944  Monday       왕십리(성동구청)
592 2022-06-20  2호선        구의(광진구청)   24562   24224  Monday        구의(광진구청)
593 2022-06-20  2호선      강변(동서울터미널)   33955   31519  Monday      강변(동서울터미널)

                 경도     특정
410        낙성대(강감찬)  False
411     서울대입구(관악구청)  False
418        대림(구로구청)  False
446      충정로(경기대입구)  False
453        잠실(송파구청)  False
465       용두(동대문구청)  False
576  동대문역사문화공원(DDP)  False
581      교대(법원.검찰청)  False
582        삼성(무역센터)  False
587       왕십리(성동구청)  False
592        구의(광진구청)  False
593      강변(동서울터미널)  False
          사용일자  노선명            역명  승차총승객수  하차총승객수      요일            위도  \
474 2022-06-20  3호선   경복궁(정부서울청사)   26495   28132  Monday   경복궁(정부서울청사)
486 2022-06-20  3호선    교대(법원.검찰청)   15852   10258  Monday    교대(법원.검찰청)
487 2022-06-20  3호선  남부터미널(예술의전당)   30068   30792  Monday  남부터미널(예술의전당)
488 2022-06-20  3호선      양재(서초구청)   39573   43859  Monday      양재(서초구청)

               경도     특정
474   경복궁(정부서울청사)  False
486    교대(법원.검찰청)  False
487  남부터미널(예술의전당)  False
488      양재(서초구청)  False
          사용일자  노선명              역명  승차총승객수  하차총승객수      요일              위도  \
495 2022-06-20  4호선        수유(강북구청)   34247   35253  Monday        수유(강북구청)
496 2022-06-20  4호선     미아(서울사이버대학)   15598   15703  Monday     미아(서울사이버대학)
499 2022-06-20  4호선      성신여대입구(돈암)   20429   20802  Monday      성신여대입구(돈암)
500 2022-06-20  4호선      한성대입구(삼선교)   13374   13585  Monday      한성대입구(삼선교)
503 2022-06-20  4호선  동대문역사문화공원(DDP)   15561   14230  Monday  동대문역사문화공원(DDP)
506 2022-06-20  4호선       회현(남대문시장)   26496   26444  Monday       회현(남대문시장)
507 2022-06-20  4호선             서울역   12331   18394  Monday             서울역
508 2022-06-20  4호선        숙대입구(갈월)   13931   13295  Monday        숙대입구(갈월)
511 2022-06-20  4호선     이촌(국립중앙박물관)    8851    9664  Monday     이촌(국립중앙박물관)
512 2022-06-20  4호선         동작(현충원)    1674    1939  Monday         동작(현충원)
513 2022-06-20  4호선       총신대입구(이수)   19847   21774  Monday       총신대입구(이수)

                 경도     특정
495        수유(강북구청)  False
496     미아(서울사이버대학)  False
499      성신여대입구(돈암)  False
500      한성대입구(삼선교)  False
503  동대문역사문화공원(DDP)  False
506       회현(남대문시장)  False
507             서울역  False
508        숙대입구(갈월)  False
511     이촌(국립중앙박물관)  False
512         동작(현충원)  False
513       총신대입구(이수)  False
         사용일자  노선명              역명  승차총승객수  하차총승객수      요일              위도  \
1  2022-06-20  5호선         신정(은행정)   14956   12136  Monday         신정(은행정)
3  2022-06-20  5호선     오목교(목동운동장앞)   22757   24204  Monday     오목교(목동운동장앞)
13 2022-06-20  5호선      충정로(경기대입구)    4859    4963  Monday      충정로(경기대입구)
15 2022-06-20  5호선     광화문(세종문화회관)   32077   33552  Monday     광화문(세종문화회관)
18 2022-06-20  5호선  동대문역사문화공원(DDP)    3077    3539  Monday  동대문역사문화공원(DDP)
22 2022-06-20  5호선       왕십리(성동구청)    4812    5302  Monday       왕십리(성동구청)
26 2022-06-20  5호선          군자(능동)   11522   12667  Monday          군자(능동)
27 2022-06-20  5호선   아차산(어린이대공원후문)   15154   14535  Monday   아차산(어린이대공원후문)
28 2022-06-20  5호선        광나루(장신대)   14083   12856  Monday        광나루(장신대)
29 2022-06-20  5호선        천호(풍납토성)   18652   18670  Monday        천호(풍납토성)
32 2022-06-20  5호선   굽은다리(강동구민회관앞)    9992    9636  Monday   굽은다리(강동구민회관앞)
37 2022-06-20  5호선     올림픽공원(한국체대)    4645    4106  Monday     올림픽공원(한국체대)
46 2022-06-20  5호선     하남시청(덕풍·신장)    7453    7191  Monday     하남시청(덕풍·신장)

                경도     특정
1          신정(은행정)  False
3      오목교(목동운동장앞)  False
13      충정로(경기대입구)  False
15     광화문(세종문화회관)  False
18  동대문역사문화공원(DDP)  False
22       왕십리(성동구청)  False
26          군자(능동)  False
27   아차산(어린이대공원후문)  False
28        광나루(장신대)  False
29        천호(풍납토성)  False
32   굽은다리(강동구민회관앞)  False
37     올림픽공원(한국체대)  False
46     하남시청(덕풍·신장)  False
         사용일자  노선명              역명  승차총승객수  하차총승객수      요일              위도  \
54 2022-06-20  6호선          새절(신사)   13974   12932  Monday          새절(신사)
55 2022-06-20  6호선        증산(명지대앞)   10574   10474  Monday        증산(명지대앞)
57 2022-06-20  6호선      월드컵경기장(성산)    4273    4665  Monday      월드컵경기장(성산)
62 2022-06-20  6호선         광흥창(서강)    9763    9395  Monday         광흥창(서강)
63 2022-06-20  6호선        대흥(서강대앞)    8801    9050  Monday        대흥(서강대앞)
67 2022-06-20  6호선       녹사평(용산구청)    4889    4787  Monday       녹사평(용산구청)
77 2022-06-20  6호선       안암(고대병원앞)   13867   14098  Monday       안암(고대병원앞)
78 2022-06-20  6호선         고려대(종암)    9157    8780  Monday         고려대(종암)
79 2022-06-20  6호선        월곡(동덕여대)   12676   12368  Monday        월곡(동덕여대)
80 2022-06-20  6호선  상월곡(한국과학기술연구원)    6664    6105  Monday  상월곡(한국과학기술연구원)
84 2022-06-20  6호선     화랑대(서울여대입구)   12877    9944  Monday     화랑대(서울여대입구)
85 2022-06-20  6호선      봉화산(서울의료원)    9528    8909  Monday      봉화산(서울의료원)

                경도     특정
54          새절(신사)  False
55        증산(명지대앞)  False
57      월드컵경기장(성산)  False
62         광흥창(서강)  False
63        대흥(서강대앞)  False
67       녹사평(용산구청)  False
77       안암(고대병원앞)  False
78         고려대(종암)  False
79        월곡(동덕여대)  False
80  상월곡(한국과학기술연구원)  False
84     화랑대(서울여대입구)  False
85      봉화산(서울의료원)  False
          사용일자  노선명           역명  승차총승객수  하차총승객수      요일           위도  \
93  2022-06-20  7호선  공릉(서울과학기술대)   12604   12484  Monday  공릉(서울과학기술대)
97  2022-06-20  7호선  상봉(시외버스터미널)   17568   16383  Monday  상봉(시외버스터미널)
100 2022-06-20  7호선  용마산(용마폭포공원)    6376    6144  Monday  용마산(용마폭포공원)
102 2022-06-20  7호선       군자(능동)   15647   12482  Monday       군자(능동)
103 2022-06-20  7호선  어린이대공원(세종대)   16232   16543  Monday  어린이대공원(세종대)
113 2022-06-20  7호선           이수   16884   16428  Monday           이수
115 2022-06-20  7호선   숭실대입구(살피재)   13463   13808  Monday   숭실대입구(살피재)
121 2022-06-20  7호선     대림(구로구청)    8269    8319  Monday     대림(구로구청)
127 2022-06-20  7호선   온수(성공회대입구)   11529   10866  Monday   온수(성공회대입구)

              경도     특정
93   공릉(서울과학기술대)  False
97   상봉(시외버스터미널)  False
100  용마산(용마폭포공원)  False
102       군자(능동)  False
103  어린이대공원(세종대)  False
113           이수  False
115   숭실대입구(살피재)  False
121     대림(구로구청)  False
127   온수(성공회대입구)  False
          사용일자  노선명                역명  승차총승객수  하차총승객수      요일  \
129 2022-06-20  8호선          천호(풍납토성)   14866   17178  Monday
131 2022-06-20  8호선        몽촌토성(평화의문)    6221    6462  Monday
132 2022-06-20  8호선          잠실(송파구청)   14244   16998  Monday
140 2022-06-20  8호선  남한산성입구(성남법원.검찰청)   15340   14163  Monday

                   위도                경도     특정
129          천호(풍납토성)          천호(풍납토성)  False
131        몽촌토성(평화의문)        몽촌토성(평화의문)  False
132          잠실(송파구청)          잠실(송파구청)  False
140  남한산성입구(성남법원.검찰청)  남한산성입구(성남법원.검찰청)  False