In [12]:
import pandas as pd
import folium

In [13]:
line = pd.read_csv('./subway_line_long_lat.csv', encoding= 'cp949')
passenger = pd.read_csv('./subway_passenger_2022.csv',encoding = 'cp949')
passenger = passenger.drop(columns='등록일자')
passenger_time = pd.read_csv('./subway_time_data.csv', encoding='cp949')

In [14]:
line.info()
passenger.info()
passenger_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연번       276 non-null    int64
 1   호선       276 non-null    int64
 2   역번호      276 non-null    object
 3   역명       276 non-null    object
 4   경도       276 non-null    float64
 5   위도       276 non-null    float64
 6   데이터기준일자  276 non-null    object
dtypes: float64(2), int64(2), object(3)
memory usage: 15.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219745 entries, 0 to 219744
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   사용일자    219745 non-null  int64
 1   노선명     219745 non-null  object
 2   역명      219745 non-null  object
 3   승차총승객수  219745 non-null  int64
 4   하차총승객수  219745 non-null  int64
dtypes: int64(3), object(2)
memory usage: 8.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56339 entries, 0 to 56338
Data columns (total 52 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   사용월           56339 non-null  int64
 1   호선명           56339 non-null  object
 2   지하철역          56339 non-null  object
 3   04시-05시 승차인원  56339 non-null  int64
 4   04시-05시 하차인원  56339 non-null  int64
 5   05시-06시 승차인원  56339 non-null  int64
 6   05시-06시 하차인원  56339 non-null  int64
 7   06시-07시 승차인원  56339 non-null  int64
 8   06시-07시 하차인원  56339 non-null  int64
 9   07시-08시 승차인원  56339 non-null  int64
 10  07시-08시 하차인원  56339 non-null  int64
 11  08시-09시 승차인원  56339 non-null  int64
 12  08시-09시 하차인원  56339 non-null  int64
 13  09시-10시 승차인원  56339 non-null  int64
 14  09시-10시 하차인원  56339 non-null  int64
 15  10시-11시 승차인원  56339 non-null  int64
 16  10시-11시 하차인원  56339 non-null  int64
 17  11시-12시 승차인원  56339 non-null  int64
 18  11시-12시 하차인원  56339 non-null  int64
 19  12시-13시 승차인원  56339 non-null  int64
 20  12시-13시 하차인원  56339 non-null  int64
 21  13시-14시 승차인원  56339 non-null  int64
 22  13시-14시 하차인원  56339 non-null  int64
 23  14시-15시 승차인원  56339 non-null  int64
 24  14시-15시 하차인원  56339 non-null  int64
 25  15시-16시 승차인원  56339 non-null  int64
 26  15시-16시 하차인원  56339 non-null  int64
 27  16시-17시 승차인원  56339 non-null  int64
 28  16시-17시 하차인원  56339 non-null  int64
 29  17시-18시 승차인원  56339 non-null  int64
 30  17시-18시 하차인원  56339 non-null  int64
 31  18시-19시 승차인원  56339 non-null  int64
 32  18시-19시 하차인원  56339 non-null  int64
 33  19시-20시 승차인원  56339 non-null  int64
 34  19시-20시 하차인원  56339 non-null  int64
 35  20시-21시 승차인원  56339 non-null  int64
 36  20시-21시 하차인원  56339 non-null  int64
 37  21시-22시 승차인원  56339 non-null  int64
 38  21시-22시 하차인원  56339 non-null  int64
 39  22시-23시 승차인원  56339 non-null  int64
 40  22시-23시 하차인원  56339 non-null  int64
 41  23시-24시 승차인원  56339 non-null  int64
 42  23시-24시 하차인원  56339 non-null  int64
 43  00시-01시 승차인원  56339 non-null  int64
 44  00시-01시 하차인원  56339 non-null  int64
 45  01시-02시 승차인원  56339 non-null  int64
 46  01시-02시 하차인원  56339 non-null  int64
 47  02시-03시 승차인원  56339 non-null  int64
 48  02시-03시 하차인원  56339 non-null  int64
 49  03시-04시 승차인원  56339 non-null  int64
 50  03시-04시 하차인원  56339 non-null  int64
 51  작업일자          56339 non-null  int64
dtypes: int64(50), object(2)
memory usage: 22.4+ MB

In [15]:
passenger.describe()

               사용일자         승차총승객수         하차총승객수
count  2.197450e+05  219745.000000  219745.000000
mean   2.022067e+07   10197.962802   10161.690696
std    3.448377e+02   10221.848266   10376.297181
min    2.022010e+07       1.000000       0.000000
25%    2.022040e+07    3472.000000    3341.000000
50%    2.022070e+07    7268.000000    7089.000000
75%    2.022100e+07   13467.000000   13308.000000
max    2.022123e+07  122543.000000  118237.000000

In [16]:
# 호선별 역사 위도, 경도 데이터 딕셔너리로 변환
line_data = line[['호선', '역명', '경도', '위도']]


for i in range(9) :
    globals()['line_{}'.format(i+1)] = line_data.query('호선 == {}'.format(i+1)).reset_index()


lat_dic = {}
long_dic = {}
target_line = line_2 ## 원하는 호선 입력(형식 : line_#)

range_num = len(target_line.index)
for i in range(range_num):
    a = {target_line['역명'].iloc[i] : target_line['위도'][i]}
    lat_dic.update(a)
    b = {target_line['역명'].iloc[i] : target_line['경도'][i]}
    long_dic.update(b)

In [17]:
# 데이터 전처리 : passenger 데이터에 역별 위치 데이터 전처리

passenger['사용일자']= pd.to_datetime(passenger['사용일자'], format = '%Y%m%d')
passenger['요일'] = passenger['사용일자'].dt.day_name()
# 데이터 오류 관측
rdpg_day_sort = passenger.groupby(['요일','역명']).agg(n =('승차총승객수', 'mean')).sort_values(by = 'n')
error_data_detect = rdpg_day_sort.query('n == 1').reset_index().groupby(['요일', '역명']).mean()
error_station_list = list(set(error_data_detect.reset_index()['역명']))
print("결측데이터 :",error_station_list) 
#하차총승객수에는 에러데이터가 보이지 않음. 데이터 출처인 서울열린데이터광장에 따르면 수동 단말기로 취합하기 때문에 데이터오류가 있을 수 있다고 함.
#아래 데이터는 다른 출처의 데이터로 갈음함.

결측데이터 : ['신중동', '부천종합운동장', '부천시청', '부평구청', '상동', '까치울', '삼산체육관', '굴포천', '춘의']

In [18]:
#타 출처 데이터 전처리: 승객 시간별 승하차 데이터(2022)
passenger_time.head(10)
passenger_time['사용월'] = pd.to_datetime(passenger_time['사용월'], format = '%Y%m').dt.year
passenger_time =passenger_time.drop(columns=['작업일자','호선명'])

In [19]:
passenger_time.query('지하철역 == "삼산체육관" and 사용월 == 2021')

,사용월,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,07시-08시 하차인원,...,23시-24시 승차인원,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원
7594,2021,삼산체육관,7,0,3408,452,10814,1847,25715,2855,...,553,4292,20,923,0,0,0,0,0,0
8203,2021,삼산체육관,14,0,3655,479,10985,1829,26594,2962,...,655,5493,20,1292,0,0,0,0,0,0
8812,2021,삼산체육관,18,0,3467,471,9774,1850,22973,3183,...,648,5082,15,746,0,0,0,0,0,0
9421,2021,삼산체육관,23,2,3151,425,9280,1607,21333,3186,...,571,4004,15,422,0,0,0,0,0,0
10028,2021,삼산체육관,19,0,3412,441,9463,1684,21723,2792,...,471,3611,19,381,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11850,2021,삼산체육관,3,0,3181,405,9576,1760,22266,3044,...,695,5168,12,708,0,0,0,0,0,0
12458,2021,삼산체육관,2,0,3109,381,10451,1753,25050,3333,...,675,4682,10,676,0,0,0,0,0,0
13066,2021,삼산체육관,7,0,3061,258,10301,1566,25225,2997,...,667,4648,6,616,0,0,0,0,0,0
13669,2021,삼산체육관,9,0,2267,192,7653,1266,18502,1505,...,412,2933,4,367,0,0,0,0,0,0
14274,2021,삼산체육관,16,0,2412,215,8239,1242,20026,1739,...,270,2166,4,299,0,0,0,0,0,0

In [20]:
#좌표 찾기
import json
import requests

with open("./api.txt") as api:
    lines = api.readlines()
    api_key = lines[0].strip()
    
addr = '서울시 송파구 가락동 140' ##<- 주소를 입력
class catch_address():
    
    def addr_to_lat_long(addr):
        url = 'https://dapi.kakao.com/v2/local/search/address.json?query={address}'.format(address=addr)
        headers = {"Authorization": "KakaoAK " + api_key}
        result = json.loads(str(requests.get(url, headers=headers).text))
        match_first = result['documents'][0]['address']
        return float(match_first['x']), float(match_first['y'])
    
    def addr_lat(addr):
        a3 = catch_address.addr_to_lat_long(addr)
        a3_list = list(a3)
        return a3_list[0]
    
    def addr_long(addr):
        a3 = catch_address.addr_to_lat_long(addr)
        a3_list = list(a3)
        return a3_list[1]
    
    def search_lat_long(addr):
        return print(addr,'의 위도, 경도는 :', catch_address.addr_lat(addr), catch_address.addr_long(addr))
        
catch_address.search_lat_long(addr)

서울시 송파구 가락동 140 의 위도, 경도는 : 127.128117809357 37.4955429569204

In [21]:
map = folium.Map(location= [127.128117809357, 37.4955429569204], zoom_start=13, width = 750, height=500)

class data_mapping():
    
    def marker(lat, long, name, pop):
        return folium.Marker(location = [lat, long], popup= pop, tooltip = name )
    
    def circle_marker(lat, long, name, pop):
        radius_size = pop/2000 # 승하차 인원 비례
        return folium.CircleMarker(location=[lat, long], color = 'red', radius = radius_size)

In [22]:
locate = []
for i in locate :
    lat = 1
    long = 2
    pop = 3
    name = 4
    data_mapping.marker(lat, long, name, pop)